<div style="background-color: #222831; height: 110vh; display: flex; justify-content: center; align-items: center;">
  <div style="width: 30%; min-height: 70%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; background-color: #eee; padding: 25px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <h1>Sign Up</h1>
    <form
      #registerForm="ngForm"
      (ngSubmit)="register()"
      style="display: flex; flex-direction: column; justify-content: space-around; height: 450px; align-items: center;"
      >
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          #username="ngModel"
          class="form-control"
          required
          [(ngModel)]="user.firstname"
        />
        <div
          class="alert-danger"
          *ngIf="registerForm.submitted"
        >
          First Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          #username="ngModel"
          class="form-control"
          required
          [(ngModel)]="user.lastname"
        />
        <div
          class="alert-danger"
          *ngIf="registerForm.submitted"
        >
          Last Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          #username="ngModel"
          class="form-control"
          required
          [(ngModel)]="user.email"
        />
        <div
          class="alert-danger"
          *ngIf="username.invalid && registerForm.submitted"
        >
          Last Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input
          type="text"
          id="role"
          name="role"
          #username="ngModel"
          class="form-control"
          required
          [(ngModel)]="user.role"
        />
        <!-- <<div
          class="alert-danger"
          *ngIf="role.invalid && registerForm.submitted"
        >
          Role is required
        </div>> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          class="form-control"
          required
          [(ngModel)]="user.password"
        />
        <div
          class="alert-danger"
          *ngIf="password.invalid && registerForm.submitted"
        >
          Password is required
        </div>
      </div>
      <button
        type="submit"
        class="btn"
        style="background-color: #00ADB5; color: #fff; border-radius: 5px; width: 100%; margin-top: 30px;"
      >
        Sign up
      </button>
    </form>
    <a [routerLink]="['/login']" class="btn btn-link">You have an account?</a>
  </div>
</div>
