/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
.custom-card {
  width: 100%;
  height: 100%;
  background-color: #eee !important;
}

body {
  background-color: #eee;
}

.user-icon {
  font-size: 100px;
  color: green;
}
