<div>
  <nav class="navbar">
    <div class="nav-wrapper">
        <a href="/" class="logo">
            <label class="logo-style">SBI</label>
        </a>
        <ul class="nav-links">
            <li><a [routerLink]="['/home']" class="btn btn-link" style="margin-left: 70px;">Home</a></li>
        </ul>
        <ul id="auth">
          <li><a [routerLink]="['/register']" class="btn btn-link" style="width: 68px; height: auto; margin-right: 30px;">Sign Up</a></li>
          <li><a [routerLink]="['/login']" class="btn btn-link active">LogIn</a></li>
        </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
