<div class="container mt-5">
    <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
      <form
        #registerForm="ngForm"
        (ngSubmit)="registerForm.form.valid && onSubmit()"
      >
        <!-- <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div> -->
        <div class="form-group">
          <label for="username">Username or Password</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            [(ngModel)]="user.value.email"
            required
            style="margin-bottom: 20px; margin-top: 20px;"
            placeholder="user@gmail.com"
          />
          <div
            class="alert-danger"
            *ngIf="registerForm.submitted && !user.value.email"
          >
            Username is required
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success w-100 mt-3"
        >
          Send
        </button>
      </form>
    </div>
  </div>
  