<div style="background-color: #222831; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="width: 33%; min-height: 370px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; background-color: #eee; padding: 25px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
      <h2>Reset Your Password</h2>
      <form
        #registerForm="ngForm"
        (ngSubmit)="registerForm.form.valid && onSubmit()"
        style="width: 90%; display: flex; flex-direction: column; justify-content: space-around; height: 200px; align-items: center;"
      >
        <!-- <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div> -->
        <div class="form-group">
          <label for="pwd1">Password</label>
          <input
            type="password"
            id="pwd1"
            name="pwd1"
            class="form-control"
            [(ngModel)]="formData.password"
            required
            style="margin-bottom: 10px; margin-top: 10px;"
          />
          <div
            class="alert-danger"
            *ngIf="registerForm.submitted && !formData.password"
          >
            Password is required
          </div>
        </div>
        <div class="form-group">
            <label for="pwd2">Confirm Password</label>
            <input
              type="password"
              id="pwd2"
              name="pwd2"
              class="form-control"
              [(ngModel)]="formData.confirm_password"
              required
              style="margin-bottom: 20px; margin-top: 20px;"
            />
            <div
              class="alert-danger"
              *ngIf="registerForm.submitted && !formData.confirm_password"
            >
              Password Confirmation is required
            </div>
          </div>
        <button
          type="submit"
          class="btn"
          style="margin-bottom: 20px; background-color: #00ADB5; color: #fff; border-radius: 5px; width: 50%;"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  